@*<div class="d-flex justify-center pb-8 pt-8">
    <img src="imgs/logo.png" alt="Dima - Seu Controle Financeiro" width="200" />
</div>*@

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Href="/virtualmachine">Máquinas Virtuais</MudNavLink>
    <MudNavLink Href="/robos">Robos</MudNavLink>
    
</MudNavMenu>